<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PDFPreview.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PDFPreview.Properties.Settings>
            <setting name="NumOfPages" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefinedPages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PageWidth" serializeAs="String">
                <value>850</value>
            </setting>
            <setting name="FilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="StartOnPage" serializeAs="String">
                <value>1</value>
            </setting>
        </PDFPreview.Properties.Settings>
    </userSettings>
</configuration>